body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    #border:5px solid red;
}

.square-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 5px solid #f60606;
    margin-right: 30px;
}

.info-box {
    border: 2px solid rgb(10, 10, 10);
    padding: 15px;
    width: 400px;
    min-height: 150px;
    background: #f9f9f9;
} 