body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 40;
}
.container{
    max-width: 450px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.subject-list label{
    display: block;
    list-style-type: none;
    padding: 6px 0;
    cursor: pointer;
}
.total-box{
    background: rgb(179, 210, 235);
    padding: 10px;
    margin: 15px 0;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#messageBox {
    margin-top: 15px;
    padding: 10px;
    background: #E8F5E9;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    display: none; 
}


